Iris-Sync-Incident.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@listCallbackUrl()"
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "HTTP": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "uri": "http://20.0.136.242:8000/api/ping",
                    "method": "GET",
                    "authentication": {
                        "type": "Raw",
                        "value": "Bearer 0cEhjj1JIPmmC_abj3-On2TvQT_YtfflpQWpp_UcY_GMtkDDl-WmrLSW2QCvtOOQafaiGBFurQ3bQT26QZstBQ"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "HTTP_1": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "uri": "http://20.0.136.242:8000/case/ioc/add",
                    "method": "POST",
                    "body": {
                        "ioc_type_id": 1,
                        "ioc_tlp_id": 2,
                        "ioc_value": "@{triggerBody()?['object']?['properties']?['severity']}",
                        "ioc_description": "@{triggerBody()?['object']?['properties']?['title']}",
                        "ioc_tags": "",
                        "custom_attributes": {},
                        "cid": 1
                    },
                    "authentication": {
                        "type": "Raw",
                        "value": "Bearer 0cEhjj1JIPmmC_abj3-On2TvQT_YtfflpQWpp_UcY_GMtkDDl-WmrLSW2QCvtOOQafaiGBFurQ3bQT26QZstBQ"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_JSON": {
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP_2')",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "severity": {
                                            "type": "object",
                                            "properties": {
                                                "severity_id": {
                                                    "type": "integer"
                                                },
                                                "severity_name": {
                                                    "type": "string"
                                                },
                                                "severity_description": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "object",
                                            "properties": {
                                                "status_id": {
                                                    "type": "integer"
                                                },
                                                "status_name": {
                                                    "type": "string"
                                                },
                                                "status_description": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "customer": {
                                            "type": "object",
                                            "properties": {
                                                "customer_name": {
                                                    "type": "string"
                                                },
                                                "customer_description": {},
                                                "customer_sla": {},
                                                "customer_id": {
                                                    "type": "integer"
                                                },
                                                "client_uuid": {
                                                    "type": "string"
                                                },
                                                "creation_date": {
                                                    "type": "string"
                                                },
                                                "last_update_date": {
                                                    "type": "string"
                                                },
                                                "custom_attributes": {}
                                            }
                                        },
                                        "classification": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "name_expanded": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "creation_date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "owner": {},
                                        "iocs": {
                                            "type": "array"
                                        },
                                        "assets": {
                                            "type": "array"
                                        },
                                        "resolution_status": {},
                                        "cases": {
                                            "type": "array"
                                        },
                                        "comments": {
                                            "type": "array"
                                        },
                                        "alert_id": {
                                            "type": "integer"
                                        },
                                        "alert_uuid": {
                                            "type": "string"
                                        },
                                        "alert_title": {
                                            "type": "string"
                                        },
                                        "alert_description": {
                                            "type": "string"
                                        },
                                        "alert_source": {
                                            "type": "string"
                                        },
                                        "alert_source_ref": {
                                            "type": "string"
                                        },
                                        "alert_source_link": {
                                            "type": "string"
                                        },
                                        "alert_source_content": {
                                            "type": "object",
                                            "properties": {
                                                "_id": {
                                                    "type": "string"
                                                },
                                                "contextId": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "entities": {
                                                    "type": "array"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "URL": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "alert_severity_id": {
                                            "type": "integer"
                                        },
                                        "alert_status_id": {
                                            "type": "integer"
                                        },
                                        "alert_context": {
                                            "type": "object",
                                            "properties": {
                                                "context_key": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "alert_source_event_time": {
                                            "type": "string"
                                        },
                                        "alert_creation_time": {
                                            "type": "string"
                                        },
                                        "alert_note": {
                                            "type": "string"
                                        },
                                        "alert_tags": {
                                            "type": "string"
                                        },
                                        "alert_owner_id": {},
                                        "modification_history": {
                                            "type": "object",
                                            "properties": {
                                                "1737133159.891611": {
                                                    "type": "object",
                                                    "properties": {
                                                        "user": {
                                                            "type": "string"
                                                        },
                                                        "user_id": {
                                                            "type": "integer"
                                                        },
                                                        "action": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "alert_customer_id": {
                                            "type": "integer"
                                        },
                                        "alert_classification_id": {
                                            "type": "integer"
                                        },
                                        "alert_resolution_status_id": {}
                                    }
                                }
                            },
                            "required": [
                                "status",
                                "message",
                                "data"
                            ]
                        }
                    }
                }
            },
            "Update_incident": {
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "method": "put",
                    "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "tagsToAdd": {
                            "TagsToAdd": [
                                {
                                    "Tag": "@{concat('SOC-', body('Parse_JSON')?[0]?['data']?['alert_id'])\n}"
                                }
                            ]
                        }
                    },
                    "path": "/Incidents"
                }
            },
            "Parse_JSON_1": {
                "runAfter": {},
                "type": "ParseJson",
                "inputs": {
                    "content": "@parameters('SeverityMapping')",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "sentinel": {
                                    "type": "string"
                                },
                                "iris": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "sentinel",
                                "iris"
                            ]
                        }
                    }
                }
            },
            "Filter_array": {
                "runAfter": {
                    "Parse_JSON_1": [
                        "Succeeded"
                    ]
                },
                "type": "Query",
                "inputs": {
                    "from": "@body('Parse_JSON_1')",
                    "where": "@equals(item()['sentinel'],triggerBody()?['object']?['properties']?['severity'])"
                }
            },
            "For_each": {
                "foreach": "@outputs('Filter_array')['body']",
                "actions": {
                    "HTTP_2": {
                        "type": "Http",
                        "inputs": {
                            "uri": "http://20.0.136.242:8000/alerts/add",
                            "method": "POST",
                            "body": {
                                "alert_title": "@{triggerBody()?['object']?['properties']?['title']}",
                                "alert_description": "@{triggerBody()?['object']?['properties']?['description']}",
                                "alert_source": "Microsoft Sentinel",
                                "alert_source_ref": "@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                                "alert_source_link": "@{triggerBody()?['object']?['properties']?['incidentUrl']}",
                                "alert_source_content": {
                                    "_id": "",
                                    "contextId": "@{triggerBody()?['object']?['id']}",
                                    "description": "",
                                    "entities": [],
                                    "title": "",
                                    "URL": ""
                                },
                                "alert_severity_id": "@items('For_each')['iris']",
                                "alert_status_id": 2,
                                "alert_context": {
                                    "context_key": "context_value"
                                },
                                "alert_source_event_time": "@{triggerBody()?['object']?['properties']?['createdTimeUtc']}",
                                "alert_note": "alert note",
                                "alert_tags": "defender,anothertag",
                                "alert_iocs": [],
                                "alert_assets": [],
                                "alert_customer_id": 1,
                                "alert_classification_id": 2
                            },
                            "authentication": {
                                "type": "Raw",
                                "value": "Bearer 0cEhjj1JIPmmC_abj3-On2TvQT_YtfflpQWpp_UcY_GMtkDDl-WmrLSW2QCvtOOQafaiGBFurQ3bQT26QZstBQ"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Filter_array": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "outputs": {},
        "parameters": {
            "SeverityMapping": {
                "defaultValue": [
                    {
                        "sentinel": "Low",
                        "iris": 4
                    },
                    {
                        "sentinel": "Medium",
                        "iris": 1
                    },
                    {
                        "sentinel": "High",
                        "iris": 5
                    },
                    {
                        "sentinel": "Informational",
                        "iris": 3
                    }
                ],
                "type": "Array"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel-1": {
                    "id": "/subscriptions/6b7f39e0-3188-45e6-9e0f-d0c900e9c2b7/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/6b7f39e0-3188-45e6-9e0f-d0c900e9c2b7/resourceGroups/rg-seclab-soc-lite-sentinel/providers/Microsoft.Web/connections/azuresentinel-2",
                    "connectionName": "azuresentinel-2",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                }
            }
        }
    }
}
