Iris-HTTP-Listener.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "message": {
                                "type": "string"
                            },
                            "additional_data": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "actions": {
            "Switch_-_status": {
                "runAfter": {},
                "cases": {
                    "In_progress": {
                        "case": "In progress",
                        "actions": {
                            "Update_incident": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                        }
                                    },
                                    "method": "put",
                                    "body": {
                                        "incidentArmId": "@triggerBody()['alert_raw'][0]['alert_source_content']['contextId']",
                                        "status": "Active"
                                    },
                                    "path": "/Incidents"
                                }
                            }
                        }
                    },
                    "Closed": {
                        "case": "Closed",
                        "actions": {
                            "Parse_JSON": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@parameters('ResolutionMapping')",
                                    "schema": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "sentinel": {
                                                    "type": "string"
                                                },
                                                "iris": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "sentinel",
                                                "iris"
                                            ]
                                        }
                                    }
                                }
                            },
                            "Filter_array": {
                                "runAfter": {
                                    "Condition": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Query",
                                "inputs": {
                                    "from": "@body('Parse_JSON')",
                                    "where": "@equals(item()['iris'],triggerBody()?['alert_raw']?[0]?['resolution_status']?['resolution_status_name'])"
                                }
                            },
                            "For_each": {
                                "foreach": "@outputs('Filter_array')['body']",
                                "actions": {
                                    "Update_incident_1": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                }
                                            },
                                            "method": "put",
                                            "body": {
                                                "incidentArmId": "@triggerBody()['alert_raw'][0]['alert_source_content']['contextId']",
                                                "status": "Closed",
                                                "classification": {
                                                    "ClassificationAndReason": "@items('For_each')['sentinel']",
                                                    "ClassificationReasonText": "@triggerBody()?['alert_raw']?[0]?['alert_note']"
                                                }
                                            },
                                            "path": "/Incidents"
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Filter_array": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Foreach"
                            },
                            "Condition": {
                                "actions": {},
                                "runAfter": {
                                    "Parse_JSON": [
                                        "Succeeded"
                                    ]
                                },
                                "else": {
                                    "actions": {}
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@triggerBody()?['alert_raw']?[0]?['resolution_status']?['resolution_status_name']",
                                                ""
                                            ]
                                        }
                                    ]
                                },
                                "type": "If"
                            }
                        }
                    },
                    "Pending": {
                        "case": "Pending",
                        "actions": {}
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@triggerBody()['alert_raw'][0]['status']['status_name']",
                "type": "Switch"
            },
            "Parse_JSON_1": {
                "runAfter": {
                    "Switch_-_status": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@parameters('SeverityMapping')",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "sentinel": {
                                    "type": "string"
                                },
                                "iris": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "sentinel",
                                "iris"
                            ]
                        }
                    }
                }
            },
            "Filter_array_1": {
                "runAfter": {
                    "Parse_JSON_1": [
                        "Succeeded"
                    ]
                },
                "type": "Query",
                "inputs": {
                    "from": "@body('Parse_JSON_1')",
                    "where": "@equals(item()['iris'],triggerBody()?['alert_raw']?[0]?['severity']?['severity_name'])"
                }
            },
            "For_each_1": {
                "foreach": "@body('Filter_array_1')",
                "actions": {
                    "Update_incident_2": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "put",
                            "body": {
                                "incidentArmId": "@triggerBody()['alert_raw'][0]['alert_source_content']['contextId']",
                                "severity": "@items('For_each_1')['sentinel']"
                            },
                            "path": "/Incidents"
                        }
                    }
                },
                "runAfter": {
                    "Filter_array_1": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "outputs": {},
        "parameters": {
            "ResolutionMapping": {
                "defaultValue": [
                    {
                        "sentinel": "BenignPositive-SuspiciousButExpected",
                        "iris": "True Positive Without Impact"
                    },
                    {
                        "sentinel": "BenignPositive-SuspiciousButExpected",
                        "iris": "Legitimate"
                    },
                    {
                        "sentinel": "FalsePositive-IncorrectAlertLogic",
                        "iris": "False Positive"
                    },
                    {
                        "sentinel": "TruePositive-SuspiciousActivity",
                        "iris": "True Positive With Impact"
                    },
                    {
                        "sentinel": "Undetermined",
                        "iris": "Unknown"
                    },
                    {
                        "sentinel": "Undetermined",
                        "iris": "Not Applicable"
                    }
                ],
                "type": "Array"
            },
            "SeverityMapping": {
                "defaultValue": [
                    {
                        "sentinel": "Low",
                        "iris": "Low"
                    },
                    {
                        "sentinel": "Medium",
                        "iris": "Medium"
                    },
                    {
                        "sentinel": "High",
                        "iris": "High"
                    },
                    {
                        "sentinel": "High",
                        "iris": "Critical"
                    },
                    {
                        "sentinel": "Low",
                        "iris": "Unspecified"
                    },
                    {
                        "sentinel": "Informational",
                        "iris": "Informational"
                    }
                ],
                "type": "Array"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "id": "/subscriptions/6b7f39e0-3188-45e6-9e0f-d0c900e9c2b7/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/6b7f39e0-3188-45e6-9e0f-d0c900e9c2b7/resourceGroups/rg-seclab-soc-lite-sentinel/providers/Microsoft.Web/connections/azuresentinel-3",
                    "connectionName": "azuresentinel-3",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                }
            }
        }
    }
}
